<!DOCTYPE html>
<html>
  <head>
    <title>Promoweb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="nav">
          <ul>
            <li><%= link_to "Log in", new_user_session_path%></a></li>
            <li><%= link_to "Sign up", new_user_registration_path%></a></li>
          </ul>
        </div>
        <div class="logo">
        </div>
      </div>
    </div>

    <%= yield %>



  </body>
</html>
